.chatbot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.chat-container {
  width: 90%;
  max-width: 1300px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(82, 79, 79, 0.336);
  overflow: hidden;
}

.message-list {
  flex-grow: 1;
  padding: 40px;
  overflow-y: auto;
}

.message {
  margin-bottom: 50px;
}

.message.user {
  text-align: right;
}

.message.bot {
  text-align: left;
}

.message p {
  padding: 10px;
  border-radius: 25px;
  background-color: #020703;
  color: rgb(255, 255, 255);
}

.message.bot p {
  background-color: #00000000;
}

.message-input {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

.message-input input {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 10px;
}

.message-input button {
  background-color: #213502b7;
  color: white;
  border: none;

  border-radius: 3px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #ececec;
  color: rgb(0, 0, 0);
}
